worker_processes 1;

events {
    worker_connections 1024;
}

http {
    upstream fib_servers {
        server localhost:10001;
        server localhost:10002;
    }

    upstream hello_servers {
        server localhost:10002;
    }

    server {
        listen 50000 http2;
        location /HelloService {
            grpc_pass grpc://hello_servers;
        }

        location /FibonacciService {
            grpc_pass grpc://fib_servers;
        }
    }
}